@import "utils/variables";
@import "utils/mixins";

body {
    background-color: $lighter;
}

.auth-wrapper {
    @include center-content;

    height: 100vh;
    background-color: $primary-color;
}

.main-wrapper {
    padding: 3rem 0;
}

.tab-pane {
    padding: 1rem 0;
}

.auth-card {
    width: 75%;

    @media (max-width: 576px) {
        width: 90%;
    }

    @media (min-width: 992px) {
        width: 50%;
    }

    @media (min-width: 1200px) {
        width: 25%;
    }
}

.toast {
    margin: 1rem 1rem 0 0;
    min-width: 350px;
    width: auto;
}

.user-dropdown {
    min-width: 260px;
}

.nav-link {
    cursor: pointer;
}

.avatar {
    display: block;
    width: 200px;
    margin: 0 auto;
}

.nav-pills .nav-link {
    color: $danger-color;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: $danger-color;
}
