@import "utils/variables";
@import "utils/mixins";

body {
    background-color: $lighter;
}

a {
    text-decoration: none!important;
}

.auth-wrapper {
    @include center-content;

    height: 100vh;
    background-color: $primary-color;
}

.main-wrapper {
    padding: 2rem 0;

    @media (min-width: 1140px) {
        padding: 3rem 0;
    }
}

.tab-pane {
    padding: 1rem 0;
}

.auth-card {
    width: 75%;

    @media (max-width: 576px) {
        width: 90%;
    }

    @media (min-width: 992px) {
        width: 50%;
    }

    @media (min-width: 1200px) {
        width: 25%;
    }
}

.toast {
    margin: 1rem 1rem 0 0;
    min-width: 350px;
    width: auto;
}

.user-dropdown {
    min-width: 260px;
}

.nav-link {
    cursor: pointer;
}

.full-avatar {
    @include center-content;

    width: 200px;
    height: 200px;
    overflow: hidden;

    img {
        height: 100%;
    }
}

.avatar-sm {
    @include center-content;

    min-width: 40px;
    width: 40px;
    height: 40px;
    overflow: hidden;

    img {
        height: 100%;
    }
}

.nav-pills .nav-link {
    color: $danger-color;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: $danger-color;
}

.options {
    @include center-content-by-y;

    color: $muted-color;
    text-decoration: none;
    cursor: pointer;
    transition: $transition;

    &:hover {
        color: $danger-color;
    }
}

.post-text {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow-y: hidden;
}

.fs-7 {
    font-size: 14px;
}

.lh-md {
    line-height: 1.7;
}

.card-img-wrapper {
    @include center-content-by-y;

    height: 300px;
    overflow: hidden;

    @media (max-width: 576px) {
        height: auto;
    }
}

.nav {
    flex-wrap: nowrap;

    .nav-link {
        display: inline-block;
    }
}
