{{> messages}}
<div class="row">
    <div class="col-lg-9">
        {{> project-card project=project full=true}}
        <!-- Connect comments partial and provide variable "comments" with data comments -->
        {{> comments comments=comments projectId=project._id}}
    </div>
    <div class="col-lg-3">
        {{> author data=project}}
    </div>
</div>
