<div class="card">
    <div class="card-body">
        <h5 class="mb-0">Про автора</h5>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item py-3">
            <h5>{{data.userId.name}}</h5>
            {{#if data.userId.emailVerified}}
                <small class="d-flex align-items-center text-success">
                    <span class="material-icons">done</span>
                    <div class="ms-2">Верифікований користувач</div>
                </small>
            {{else}}
                <small class="d-flex align-items-center text-danger">
                    <span class="material-icons">error_outline</span>
                    <div class="ms-2">Неверифікований користувач</div>
                </small>
            {{/if}}
        </li>
        {{#if data.userId.location}}
            <li class="list-group-item py-3">
                <h6>Місце проживання</h6>
                <small class="text-muted">{{data.userId.location}}</small>
            </li>
        {{/if}}
        <li class="list-group-item py-3">
            <h6>Зареєстрований з</h6>
            <small class="short-date text-muted">{{data.userId.date}}</small>
        </li>
    </ul>
</div>