{{> messages}}
<div class="row">
    <div class="col-lg-9">
        {{> post-card post=post full=true}}
        {{> comments comments=comments postId=post._id userId=userId}}
    </div>
    <div class="col-lg-3">
        {{> author data=post}}
    </div>
</div>
