{{> messages}}
<div class="row">
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                {{> full-avatar user=user}}
                <h5 class="card-title mt-3">{{user.name}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{user.status}}</h6>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-center">
                    <a href="/profile" class="text-danger text-decoration-none">Перейти до профілю</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-lg-6">
        {{#if posts.length}}
            {{#each posts}}
                {{> post-card post=this full=false}}
            {{/each}}
        {{else}}
            <p class="fs-3">Дописів поки що немає...</p>
        {{/if}}
    </div>
    <div class="col-lg-3"></div>
</div>