{{> messages}}
<div class="row">
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                {{> full-avatar user=user}}
                <h5 class="card-title mt-3">{{user.name}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{user.status}}</h6>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <form action="/profile" method="POST" class="mb-2" enctype="multipart/form-data">
                        <label for="avatar" class="form-label">Змінити світлину профілю</label>
                        <input class="form-control form-control-sm" name="avatar" id="avatar" type="file" required>
                        <input type="hidden" name="_csrf" value="{{csrf}}">
                        <div class="d-grid">
                            <button class="btn btn-outline-danger btn-sm mt-3">Змінити</button>
                        </div>
                    </form>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <ul class="nav nav-pills" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" data-bs-toggle="tab" href="#feed">Ваші дописи</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" data-bs-toggle="tab" href="#projects">Ваші проекти</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" data-bs-toggle="tab" href="#info">Інформація</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tab-content">
            <div class="tab-pane active" id="feed">
                <div class="d-grid">
                    <button
                        class="btn btn-block btn-danger mb-3"
                        data-bs-toggle="modal"
                        data-bs-target="#postModal"
                    >Новий допис</button>
                </div>
                {{#if posts.length}}
                    {{#each posts}}
                        {{> post-card post=this full=false}}
                    {{/each}}
                {{else}}
                    <p class="text-center fs-3 mt-3">Дописів поки що немає...</p>
                {{/if}}
            </div>
            <div class="tab-pane" id="projects">Projects</div>
            <div class="tab-pane" id="info">Info</div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title mb-0">Портфоліо</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
        </div>
    </div>
</div>
{{#> modal}}
    {{> post-form}}
{{/modal}}